* {
	font-size:16px;
}
html, body {
	height: 100%;
	min-height: 100%;
	margin:0;
}
body {
	align-items: center;
	-webkit-align-items: center;
	display: -webkit-flex;
	display: flex;
	height: 100%;
	justify-content: center;
	-webkit-justify-content: center;
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
}
body:before, body:after {
    content: " ";
    position: fixed;
    background: #f1f1f1;
    left: 0;
    right: 0;
    height: 20px;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
body {
    border-left: 20px solid #f1f1f1;
    border-right: 20px solid #f1f1f1;  
}
.main-content {
	margin:0 auto;
	max-width:80%;
	text-align:center;
}
.say-my-name, .about-me, .contact {
	margin:0;
	padding:0;

}
.say-my-name {
	color:#515250;
	font-family: 'Rubik', sans-serif;
	font-size:2.5em;
	letter-spacing:-2px;
	margin-bottom:.5em;
}
.say-my-name:after {
	content: " ";
    display: block;
    margin-top: .375em;
    margin-bottom: .375em;
    margin-left: auto;
    margin-right: auto;
    width: 45px;
    height: 3px;
    background-color: #ded9d3;
}
.say-my-last-name {
	font-size:1em;
	margin-left:5px;
}
.about-me {
	color:#cecbc7;
	font-family: 'Suravaram', serif;
	font-size:1.5em;
	line-height: 30px;
	font-weight:lighter;
	max-width: 800px;
}
.contact {
	font-family: 'Suravaram', serif;
	list-style:none;
	margin-top:40px;
}
.contact a {
	color:#cecbc7;
	font-size:1.2em;
}
.contact li a:not(:last-child) {
	margin-right:10px;
}