nav#nav-menu ul:before {
	content:'';
	background:url('../img/rosa.png');
	display:inline-block;
	width:45px;
	height:45px;
	vertical-align: middle;
}

.about-me--extras {
	padding-left:20px;
	font-style:italic;
}

.about-me--extras li {
	margin-bottom:15px;
	text-align: justify;
}

.privacy {
	font-weight:bold;
}

a.manual-bio {
	background:#fff;
	color:#202020;
	cursor:pointer;
	display: inline-block;
	font-weight:bold;
	margin: 30px 0;
	padding:15px;
	text-transform: uppercase;
	vertical-align: middle;
}

a.manual-bio:before {
	background-image:url('../img/biohazard.svg');
	background-size:30px 30px;
	display:inline-block;
	content:'';
	margin-right: 15px;
	width:30px;
	height:30px;
	vertical-align: middle;
}

p {
	text-align: justify;
}

.digiteyes, .digiteyes a {
	color:#484343;
}
.digiteyes {
	font-size:.8em;
	margin-left:20px;
	padding:5px;
	display: inline-block;
    vertical-align: middle;
}
.digiteyes a {
	font-style:italic;
	font-weight:bold;
	padding-bottom:2px;
}

.foto-studio, .foto-tarallo {
	box-shadow: 10px 10px 0 #1f1e1e;
}


#footer {
	background-image: url('../img/bg-footer.png');
	background-repeat: no-repeat;
	background-position: center center;
}

@media only screen and (max-width: 992px) {
	.open #nav-menu ul:before {
	    margin-left: 10px;
	    margin-bottom: 10px;
}

@media only screen and (max-width: 992px) {
	.footer-col {
		text-align:center;
	}
}